@import url("https://use.typekit.net/acp4cdy.css");

$navbar-brand-font-size: 3rem;
$font-family-sans-serif: poppins, sans-serif;
$btn-border-radius-lg: 0;
$primary: #43b3d8;

@import "~bootstrap/scss/bootstrap";
